# Pandas

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('players.csv')
df

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.index

RangeIndex(start=0, stop=595, step=1)

In [5]:
df.columns

Index(['surname', 'team', 'position', 'minutes', 'shots', 'passes', 'tackles',
       'saves', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [6]:
df.shape

(595, 26)

In [7]:
df.shape[0]

595

In [8]:
len(df)

595

In [9]:
len(df.columns)

26

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   surname      595 non-null    object
 1   team         595 non-null    object
 2   position     595 non-null    object
 3   minutes      595 non-null    int64
 4   shots        595 non-null    int64
 5   passes       595 non-null    int64
 6   tackles      595 non-null    int64
 7   saves        595 non-null    int64
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  0 non-null      float64
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(18), int64(5), object(3)
memory usage: 121.0+ KB

## row/col selection

### iloc

In [12]:
df.head()

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.iloc[0 , 2]

'midfielder'

In [14]:
df.iloc[0, :] # select all columns of row 0 (Series)

surname            Abdoun
team              Algeria
position       midfielder
minutes                16
shots                   0
passes                  6
tackles                 0
saves                   0
Unnamed: 8            NaN
Unnamed: 9            NaN
Unnamed: 10           NaN
Unnamed: 11           NaN
Unnamed: 12           NaN
Unnamed: 13           NaN
Unnamed: 14           NaN
Unnamed: 15           NaN
Unnamed: 16           NaN
Unnamed: 17           NaN
Unnamed: 18           NaN
Unnamed: 19           NaN
Unnamed: 20           NaN
Unnamed: 21           NaN
Unnamed: 22           NaN
Unnamed: 23           NaN
Unnamed: 24           NaN
Unnamed: 25           NaN
Name: 0, dtype: object

In [15]:
df.iloc[ [4,1,3] , : ]

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.iloc[ [4,1,3] , [2,1,0]]

     position     team    surname
4  goalkeeper  Algeria   Chaouchi
1    defender  Algeria    Belhadj
3    defender  Algeria  Bougherra

In [17]:
df.iloc[ 3:10:2 , :8 ]

     surname     team    position  minutes  shots  passes  tackles  saves
3  Bougherra  Algeria    defender      270      1      89       11      0
5   Djebbour  Algeria     forward      123      3      19        1      0
7  Guedioura  Algeria  midfielder       38      0      18        1      0
9      Kadir  Algeria  midfielder      262      0     104        3      0

In [21]:
df = df.iloc[ : , :8]
df

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

### set_index

In [25]:
df.set_index('surname')

KeyError: "None of ['surname'] are in the columns"

In [24]:
df = df.set_index('surname')
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

### loc

In [26]:
df.loc[ 'Abdoun', 'position' ]

'midfielder'

In [28]:
df.loc[ ['Abdoun', 'Messi', 'Ronaldo'], ['position','team'] ]

           position       team
surname
Abdoun   midfielder    Algeria
Messi       forward  Argentina
Ronaldo     forward   Portugal

In [29]:
df.loc[ 'Abdoun':'Chaouchi' , : ]

              team    position  minutes  shots  passes  tackles  saves
surname
Abdoun     Algeria  midfielder       16      0       6        0      0
Belhadj    Algeria    defender      270      1     146        8      0
Boudebouz  Algeria  midfielder       74      3      28        1      0
Bougherra  Algeria    defender      270      1      89       11      0
Chaouchi   Algeria  goalkeeper       90      0      17        0      2

In [30]:
df.loc[ 'Abdoun':'Chaouchi' , 'team':'shots' ]

              team    position  minutes  shots
surname
Abdoun     Algeria  midfielder       16      0
Belhadj    Algeria    defender      270      1
Boudebouz  Algeria  midfielder       74      3
Bougherra  Algeria    defender      270      1
Chaouchi   Algeria  goalkeeper       90      0

### short-cuts

In [32]:
df['team'] # select whole column

surname
Abdoun           Algeria
Belhadj          Algeria
Boudebouz        Algeria
Bougherra        Algeria
Chaouchi         Algeria
                  ...
Holden               USA
Howard               USA
Jozy Altidore        USA
Onyewu               USA
Torres               USA
Name: team, Length: 595, dtype: object

In [33]:
df[ ['team','position'] ]

                  team    position
surname
Abdoun         Algeria  midfielder
Belhadj        Algeria    defender
Boudebouz      Algeria  midfielder
Bougherra      Algeria    defender
Chaouchi       Algeria  goalkeeper
...                ...         ...
Holden             USA  midfielder
Howard             USA  goalkeeper
Jozy Altidore      USA     forward
Onyewu             USA    defender
Torres             USA  midfielder

[595 rows x 2 columns]

In [34]:
df.team

surname
Abdoun           Algeria
Belhadj          Algeria
Boudebouz        Algeria
Bougherra        Algeria
Chaouchi         Algeria
                  ...
Holden               USA
Howard               USA
Jozy Altidore        USA
Onyewu               USA
Torres               USA
Name: team, Length: 595, dtype: object

In [37]:
df.iloc[0]

team           Algeria
position    midfielder
minutes             16
shots                0
passes               6
tackles              0
saves                0
Name: Abdoun, dtype: object

In [38]:
df.iloc[ [2,4,0] ]

              team    position  minutes  shots  passes  tackles  saves
surname
Boudebouz  Algeria  midfielder       74      3      28        1      0
Chaouchi   Algeria  goalkeeper       90      0      17        0      2
Abdoun     Algeria  midfielder       16      0       6        0      0

In [39]:
df.iloc[ 0:5 ]

              team    position  minutes  shots  passes  tackles  saves
surname
Abdoun     Algeria  midfielder       16      0       6        0      0
Belhadj    Algeria    defender      270      1     146        8      0
Boudebouz  Algeria  midfielder       74      3      28        1      0
Bougherra  Algeria    defender      270      1      89       11      0
Chaouchi   Algeria  goalkeeper       90      0      17        0      2

## filter

In [40]:
df.shots

surname
Abdoun           0
Belhadj          1
Boudebouz        3
Bougherra        1
Chaouchi         0
                ..
Holden           0
Howard           0
Jozy Altidore    8
Onyewu           1
Torres           1
Name: shots, Length: 595, dtype: int64

In [42]:
df[ df.shots == 0 ]

              team    position  minutes  shots  passes  tackles  saves
surname
Abdoun     Algeria  midfielder       16      0       6        0      0
Chaouchi   Algeria  goalkeeper       90      0      17        0      2
Guedioura  Algeria  midfielder       38      0      18        1      0
Kadir      Algeria  midfielder      262      0     104        3      0
Lacen      Algeria  midfielder      270      0     158        8      0
...            ...         ...      ...    ...     ...      ...    ...
Victorino  Uruguay    defender      435      0     141        7      0
Beasley        USA  midfielder       10      0       4        0      0
Clark          USA  midfielder      121      0      42        4      0
Holden         USA  midfielder        4      0       2        0      0
Howard         USA  goalkeeper      390      0      81        0     14

[206 rows x 7 columns]

In [43]:
df[ df.shots >= 20 ]

              team position  minutes  shots  passes  tackles  saves
surname
Messi    Argentina  forward      450     21     321       10      0
Gyan         Ghana  forward      501     27     151        1      0
Villa        Spain  forward      529     22     169        2      0

In [44]:
df[ df.team == 'Spain' ]

                  team    position  minutes  shots  passes  tackles  saves
surname
Alonso           Spain  midfielder      506      9     465       18      0
Arbeloa          Spain    defender       13      0      12        0      0
Busquets         Spain  midfielder      511      0     466       15      0
Capdevila        Spain    defender      540      1     310       10      0
Casillas         Spain  goalkeeper      540      0      67        0     11
Fabregas         Spain  midfielder       94      1     116        2      0
Iniesta          Spain  midfielder      437      8     299       11      0
Javi Martuenez   Spain  midfielder       17      0      17        0      0
Jesus Navas      Spain  midfielder      118      4      61        1      0
Juan Mata        Spain  midfielder       20      1      16        0      0
Llorente         Spain     forward       31      2      12        0      0
Marchena         Spain    defender        8      0       1        0      0
Pedro Rodriguez  Spain  midfielder      116      5      80        0      0
Pique            Spain    defender      540      2     402       15      0
Puyol            Spain    defender      534      3     254        8      0
Ramos            Spain    defender      527      9     299        7      0
Silva            Spain  midfielder       66      2      42        2      0
Torres           Spain     forward      278      9      50        0      0
Villa            Spain     forward      529     22     169        2      0
Xavi             Spain  midfielder      515      4     563        6      0

In [45]:
'Thailand'.endswith('land')

True

In [46]:
df[ df.team.str.endswith('land') ]

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Ashley Cole,England,defender,360,0,142,12,0
Barry,England,midfielder,264,2,171,8,0
Carragher,England,defender,135,0,74,4,0
Crouch,England,forward,17,1,7,0,0
Defoe,England,forward,173,5,17,1,0
Gerrard,England,midfielder,360,10,227,5,0
Glen Johnson,England,defender,357,3,173,17,0
Green,England,goalkeeper,90,0,21,0,3
Heskey,England,forward,176,2,53,7,0
James,England,goalkeeper,270,0,72,0,6
Joe Cole,England,midfielder,44,1,26,0,0
King,England,defender,45,0,17,0,0
Lampard,England,midfielder,360,11,232,3,0
Lennon,England,midfielder,153,0,43,1,0
Milner,England,midfielder,185,1,57,6,0
Rooney,England,forward,342,8,121,2,0
Terry,England,defender,360,2,223,3,0
Upson,England,defender,180,1,93,4,0
Wright-Phillips,England,midfielder,89,2,29,2,0
Barron,New Zealand,midfielder,1,0,0,0,0
Bertos,New Zealand,midfielder,270,0,79,5,0
Brockie,New Zealand,midfielder,11,0,5,0,0
Christie,New Zealand,midfielder,21,0,9,1,0
Elliott,New Zealand,midfielder,270,1,119,7,0
Fallon,New Zealand,forward,222,1,60,1,0
Killen,New Zealand,forward,240,3,60,7,0
Lochhead,New Zealand,defender,270,0,47,5,0
Nelsen,New Zealand,defender,270,0,92,1,0
Paston,New Zealand,goalkeeper,270,0,64,0,9
Reid,New Zealand,defender,270,2,90,10,0
Smeltz,New Zealand,forward,270,5,59,5,0
Smith,New Zealand,defender,270,1,79,2,0
Vicelich,New Zealand,defender,249,1,88,4,0
Wood,New Zealand,forward,66,1,16,0,0
Barnetta,Switzerland,midfielder,227,3,104,5,0
Behrami,Switzerland,midfielder,31,0,4,1,0
Benaglio,Switzerland,goalkeeper,270,0,75,0,11
Bunjaku,Switzerland,forward,13,0,5,0,0
Derdiyok,Switzerland,forward,191,4,47,1,0
Eggimann,Switzerland,defender,1,0,0,0,0
Fernandes,Switzerland,midfielder,212,1,56,7,0
Frei,Switzerland,forward,63,2,11,0,0
Grichting,Switzerland,defender,270,1,82,6,0
Huggel,Switzerland,midfielder,258,0,87,8,0
Inler,Switzerland,midfielder,270,2,138,6,0
Lichtsteiner,Switzerland,defender,270,2,80,10,0
Nkufo,Switzerland,forward,227,2,65,2,0
Senderos,Switzerland,defender,36,0,9,1,0
Shaqiri,Switzerland,midfielder,12,0,9,0,0
Yakin,Switzerland,midfielder,56,3,26,0,0
Ziegler,Switzerland,defender,270,1,71,9,0
von Bergen,Switzerland,defender,234,0,79,3,0

In [47]:
'h' in 'Thailand'

True

In [49]:
df[ df.team.str.contains('w') ]

                     team    position  minutes  shots  passes  tackles  saves
surname
Barron        New Zealand  midfielder        1      0       0        0      0
Bertos        New Zealand  midfielder      270      0      79        5      0
Brockie       New Zealand  midfielder       11      0       5        0      0
Christie      New Zealand  midfielder       21      0       9        1      0
Elliott       New Zealand  midfielder      270      1     119        7      0
Fallon        New Zealand     forward      222      1      60        1      0
Killen        New Zealand     forward      240      3      60        7      0
Lochhead      New Zealand    defender      270      0      47        5      0
Nelsen        New Zealand    defender      270      0      92        1      0
Paston        New Zealand  goalkeeper      270      0      64        0      9
Reid          New Zealand    defender      270      2      90       10      0
Smeltz        New Zealand     forward      270      5      59        5      0
Smith         New Zealand    defender      270      1      79        2      0
Vicelich      New Zealand    defender      249      1      88        4      0
Wood          New Zealand     forward       66      1      16        0      0
Barnetta      Switzerland  midfielder      227      3     104        5      0
Behrami       Switzerland  midfielder       31      0       4        1      0
Benaglio      Switzerland  goalkeeper      270      0      75        0     11
Bunjaku       Switzerland     forward       13      0       5        0      0
Derdiyok      Switzerland     forward      191      4      47        1      0
Eggimann      Switzerland    defender        1      0       0        0      0
Fernandes     Switzerland  midfielder      212      1      56        7      0
Frei          Switzerland     forward       63      2      11        0      0
Grichting     Switzerland    defender      270      1      82        6      0
Huggel        Switzerland  midfielder      258      0      87        8      0
Inler         Switzerland  midfielder      270      2     138        6      0
Lichtsteiner  Switzerland    defender      270      2      80       10      0
Nkufo         Switzerland     forward      227      2      65        2      0
Senderos      Switzerland    defender       36      0       9        1      0
Shaqiri       Switzerland  midfielder       12      0       9        0      0
Yakin         Switzerland  midfielder       56      3      26        0      0
Ziegler       Switzerland    defender      270      1      71        9      0
von Bergen    Switzerland    defender      234      0      79        3      0

In [50]:
df[ df.index.str.contains('v') ]

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Tevez,Argentina,forward,324,6,164,7,0
Rukavytsya,Australia,forward,32,1,12,0,0
Daniel Alves,Brazil,defender,310,11,215,6,0
Gilberto Silva,Brazil,midfielder,450,3,299,11,0
Bravo,Chile,goalkeeper,360,0,58,0,4
Valdivia,Chile,forward,222,3,91,3,0
Enevoldsen,Denmark,midfielder,56,2,10,0,0
Evra,France,defender,180,0,92,4,0
Govou,France,forward,162,1,35,4,0
Avraam Papadopoulos,Greece,defender,270,1,70,8,0
Tzorvas,Greece,goalkeeper,270,0,41,0,12
Alvarez,Honduras,midfielder,180,1,57,1,0
Chavez,Honduras,defender,270,0,62,3,0
Guevara,Honduras,midfielder,156,0,60,6,0
Pavon,Honduras,forward,60,1,9,0,0
Cannavaro,Italy,defender,270,0,138,11,0
Montolivo,Italy,midfielder,236,8,163,9,0
Gervinho,Ivory Coast,forward,182,5,60,1,0
Giovani dos Santos,Mexico,midfielder,360,2,106,4,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
van Persie,Netherlands,forward,479,14,108,1,0
Da Silva,Paraguay,defender,480,1,235,11,0
Riveros,Paraguay,midfielder,480,5,236,22,0
Bruno Alves,Portugal,defender,360,1,166,5,0
Carvalho,Portugal,defender,360,2,173,11,0
Ivanovic,Serbia,defender,270,3,115,2,0
Jovanovic,Serbia,midfielder,245,4,65,2,0
Kolarov,Serbia,defender,180,2,46,8,0
Kuzmanovic,Serbia,midfielder,180,4,103,1,0
Lazovic,Serbia,forward,44,1,14,0,0
Lukovic,Serbia,defender,164,1,98,6,0
Ninkovic,Serbia,midfielder,160,1,91,2,0
Obradovic,Serbia,defender,90,1,42,2,0
Petrovic,Serbia,midfielder,15,1,3,1,0
Stankovic,Serbia,midfielder,270,3,165,5,0
Stojkovic,Serbia,goalkeeper,270,0,52,0,7
Zabavnuek,Slovakia,defender,268,1,94,8,0
Handanovic,Slovenia,goalkeeper,270,0,66,0,13
Matavz,Slovenia,forward,11,0,4,0,0
Novakovic,Slovenia,forward,270,2,68,1,0
Radosavljevic,Slovenia,midfielder,267,1,129,6,0
Nomvete,South Africa,forward,22,0,5,1,0
Capdevila,Spain,defender,540,1,310,10,0
Javi Martuenez,Spain,midfielder,17,0,17,0,0
Jesus Navas,Spain,midfielder,118,4,61,1,0
Silva,Spain,midfielder,66,2,42,2,0
Xavi,Spain,midfielder,515,4,563,6,0
von Bergen,Switzerland,defender,234,0,79,3,0
Arevalo Rios,Uruguay,midfielder,570,5,195,21,0
Cavani,Uruguay,forward,435,9,151,11,0
Alvaro Pereira,Uruguay,midfielder,409,6,140,17,0
Donovan,USA,forward,390,7,165,9,0

### query (sql-like)

In [51]:
df.query('shots >= 20')

              team position  minutes  shots  passes  tackles  saves
surname
Messi    Argentina  forward      450     21     321       10      0
Gyan         Ghana  forward      501     27     151        1      0
Villa        Spain  forward      529     22     169        2      0

### multiple conditions

In [55]:
df[ (df.shots > 10) & (df.minutes <= 270) ]

                    team position  minutes  shots  passes  tackles  saves
surname
Jong Tae-Se  North Korea  forward      270     13      58        2      0

In [58]:
df[ (df.team == 'England') | (df.team == 'Spain') ]

                    team    position  minutes  shots  passes  tackles  saves
surname
Ashley Cole      England    defender      360      0     142       12      0
Barry            England  midfielder      264      2     171        8      0
Carragher        England    defender      135      0      74        4      0
Crouch           England     forward       17      1       7        0      0
Defoe            England     forward      173      5      17        1      0
Gerrard          England  midfielder      360     10     227        5      0
Glen Johnson     England    defender      357      3     173       17      0
Green            England  goalkeeper       90      0      21        0      3
Heskey           England     forward      176      2      53        7      0
James            England  goalkeeper      270      0      72        0      6
Joe Cole         England  midfielder       44      1      26        0      0
King             England    defender       45      0      17        0      0
Lampard          England  midfielder      360     11     232        3      0
Lennon           England  midfielder      153      0      43        1      0
Milner           England  midfielder      185      1      57        6      0
Rooney           England     forward      342      8     121        2      0
Terry            England    defender      360      2     223        3      0
Upson            England    defender      180      1      93        4      0
Wright-Phillips  England  midfielder       89      2      29        2      0
Alonso             Spain  midfielder      506      9     465       18      0
Arbeloa            Spain    defender       13      0      12        0      0
Busquets           Spain  midfielder      511      0     466       15      0
Capdevila          Spain    defender      540      1     310       10      0
Casillas           Spain  goalkeeper      540      0      67        0     11
Fabregas           Spain  midfielder       94      1     116        2      0
Iniesta            Spain  midfielder      437      8     299       11      0
Javi Martuenez     Spain  midfielder       17      0      17        0      0
Jesus Navas        Spain  midfielder      118      4      61        1      0
Juan Mata          Spain  midfielder       20      1      16        0      0
Llorente           Spain     forward       31      2      12        0      0
Marchena           Spain    defender        8      0       1        0      0
Pedro Rodriguez    Spain  midfielder      116      5      80        0      0
Pique              Spain    defender      540      2     402       15      0
Puyol              Spain    defender      534      3     254        8      0
Ramos              Spain    defender      527      9     299        7      0
Silva              Spain  midfielder       66      2      42        2      0
Torres             Spain     forward      278      9      50        0      0
Villa              Spain     forward      529     22     169        2      0
Xavi               Spain  midfielder      515      4     563        6      0

In [61]:
df.loc[ df.shots >= 20, ['team', 'position', 'shots'] ]

              team position  shots
surname
Messi    Argentina  forward     21
Gyan         Ghana  forward     27
Villa        Spain  forward     22

In [65]:
df.query('shots >= 20').loc[:, ['team', 'position', 'shots']]

              team position  shots
surname
Messi    Argentina  forward     21
Gyan         Ghana  forward     27
Villa        Spain  forward     22

## reset_index()

In [67]:
df.reset_index(inplace=True)
df

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0