In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('players.csv').loc[: , :'saves'].set_index('surname')
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

# Sorting

In [3]:
df.sort_values('passes')

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Barron,New Zealand,midfielder,1,0,0,0,0
Konno,Japan,defender,2,0,0,0,0
Petras,Slovakia,defender,1,0,0,0,0
Kim Dong-Jin,South Korea,defender,1,0,0,0,0
Lee Seung-Yeoul,South Korea,forward,3,0,0,0,0
...,...,...,...,...,...,...,...
Pique,Spain,defender,540,2,402,15,0
Schweinsteiger,Germany,midfielder,531,5,423,23,0
Alonso,Spain,midfielder,506,9,465,18,0
Busquets,Spain,midfielder,511,0,466,15,0
Xavi,Spain,midfielder,515,4,563,6,0

In [4]:
df.sort_values('passes', ascending=False).head(20)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Xavi,Spain,midfielder,515,4,563,6,0
Busquets,Spain,midfielder,511,0,466,15,0
Alonso,Spain,midfielder,506,9,465,18,0
Schweinsteiger,Germany,midfielder,531,5,423,23,0
Pique,Spain,defender,540,2,402,15,0
Lahm,Germany,defender,540,0,360,17,0
Messi,Argentina,forward,450,21,321,10,0
Capdevila,Spain,defender,540,1,310,10,0
Annan,Ghana,midfielder,510,4,307,11,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
Iniesta,Spain,midfielder,437,8,299,11,0
Gilberto Silva,Brazil,midfielder,450,3,299,11,0
Ramos,Spain,defender,527,9,299,7,0
Mertesacker,Germany,defender,540,0,282,9,0
Khedira,Germany,midfielder,517,6,279,16,0
Sneijder,Netherlands,midfielder,532,15,279,7,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
Ozil,Germany,midfielder,497,7,266,3,0
Mathijsen,Netherlands,defender,450,1,265,8,0
Heitinga,Netherlands,defender,540,0,259,10,0

In [5]:
df.sort_values( ['passes', 'shots'], ascending=[False, True] ).head(20)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Xavi,Spain,midfielder,515,4,563,6,0
Busquets,Spain,midfielder,511,0,466,15,0
Alonso,Spain,midfielder,506,9,465,18,0
Schweinsteiger,Germany,midfielder,531,5,423,23,0
Pique,Spain,defender,540,2,402,15,0
Lahm,Germany,defender,540,0,360,17,0
Messi,Argentina,forward,450,21,321,10,0
Capdevila,Spain,defender,540,1,310,10,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
Annan,Ghana,midfielder,510,4,307,11,0
Gilberto Silva,Brazil,midfielder,450,3,299,11,0
Iniesta,Spain,midfielder,437,8,299,11,0
Ramos,Spain,defender,527,9,299,7,0
Mertesacker,Germany,defender,540,0,282,9,0
Khedira,Germany,midfielder,517,6,279,16,0
Sneijder,Netherlands,midfielder,532,15,279,7,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
Ozil,Germany,midfielder,497,7,266,3,0
Mathijsen,Netherlands,defender,450,1,265,8,0
Heitinga,Netherlands,defender,540,0,259,10,0

In [6]:
df.sort_index()

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0
Abe,Japan,midfielder,351,0,101,14,0
Abidal,France,defender,180,0,91,6,0
Abou Diaby,France,midfielder,270,1,111,5,0
Aboubakar,Cameroon,forward,46,2,16,0,0
...,...,...,...,...,...,...,...
de Zeeuw,Netherlands,midfielder,47,0,37,2,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
van Persie,Netherlands,forward,479,14,108,1,0
von Bergen,Switzerland,defender,234,0,79,3,0

In [7]:
df.sort_index(ascending=False)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
von Bergen,Switzerland,defender,234,0,79,3,0
van Persie,Netherlands,forward,479,14,108,1,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
de Zeeuw,Netherlands,midfielder,47,0,37,2,0
...,...,...,...,...,...,...,...
Aboubakar,Cameroon,forward,46,2,16,0,0
Abou Diaby,France,midfielder,270,1,111,5,0
Abidal,France,defender,180,0,91,6,0
Abe,Japan,midfielder,351,0,101,14,0
Abdoun,Algeria,midfielder,16,0,6,0,0

# Assignment

In [8]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [9]:
df.loc['Abdoun', 'shots'] = 1

In [10]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      1       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [11]:
df.sort_values('minutes')

                     team    position  minutes  shots  passes  tackles  saves
surname
Petras           Slovakia    defender        1      0       0        0      0
Barron        New Zealand  midfielder        1      0       0        0      0
Kim Dong-Jin  South Korea    defender        1      0       0        0      0
Mesbah            Algeria  midfielder        1      0       1        0      0
Eggimann      Switzerland    defender        1      0       0        0      0
...                   ...         ...      ...    ...     ...      ...    ...
Forlan            Uruguay     forward      564     18     202        0      0
Perez             Uruguay  midfielder      567      2     252       34      0
Muslera           Uruguay  goalkeeper      570      0      75        0     16
Maxi Pereira      Uruguay  midfielder      570      5     182       15      0
Arevalo Rios      Uruguay  midfielder      570      5     195       21      0

[595 rows x 7 columns]

In [12]:
df.loc[ df.minutes == 570, 'minutes' ]

surname
Arevalo Rios    570
Maxi Pereira    570
Muslera         570
Name: minutes, dtype: int64

In [13]:
df.loc[ df.minutes == 570, 'minutes' ] = 600 #broadcasting

In [14]:
df.sort_values('minutes')

                     team    position  minutes  shots  passes  tackles  saves
surname
Petras           Slovakia    defender        1      0       0        0      0
Barron        New Zealand  midfielder        1      0       0        0      0
Kim Dong-Jin  South Korea    defender        1      0       0        0      0
Mesbah            Algeria  midfielder        1      0       1        0      0
Eggimann      Switzerland    defender        1      0       0        0      0
...                   ...         ...      ...    ...     ...      ...    ...
Forlan            Uruguay     forward      564     18     202        0      0
Perez             Uruguay  midfielder      567      2     252       34      0
Muslera           Uruguay  goalkeeper      600      0      75        0     16
Maxi Pereira      Uruguay  midfielder      600      5     182       15      0
Arevalo Rios      Uruguay  midfielder      600      5     195       21      0

[595 rows x 7 columns]

In [15]:
df.loc[ df.minutes == 600, 'minutes']

surname
Arevalo Rios    600
Maxi Pereira    600
Muslera         600
Name: minutes, dtype: int64

In [16]:
df.loc[ df.minutes == 600, 'minutes'].sort_index()

surname
Arevalo Rios    600
Maxi Pereira    600
Muslera         600
Name: minutes, dtype: int64

In [17]:
df.loc[ df.minutes == 600, 'minutes'] = [570, 580, 590] #sequence assignment

In [18]:
df.sort_values('minutes')

                     team    position  minutes  shots  passes  tackles  saves
surname
Petras           Slovakia    defender        1      0       0        0      0
Barron        New Zealand  midfielder        1      0       0        0      0
Kim Dong-Jin  South Korea    defender        1      0       0        0      0
Mesbah            Algeria  midfielder        1      0       1        0      0
Eggimann      Switzerland    defender        1      0       0        0      0
...                   ...         ...      ...    ...     ...      ...    ...
Forlan            Uruguay     forward      564     18     202        0      0
Perez             Uruguay  midfielder      567      2     252       34      0
Arevalo Rios      Uruguay  midfielder      570      5     195       21      0
Maxi Pereira      Uruguay  midfielder      580      5     182       15      0
Muslera           Uruguay  goalkeeper      590      0      75        0     16

[595 rows x 7 columns]

# Arithmetic

In [19]:
df.shots

surname
Abdoun           1
Belhadj          1
Boudebouz        3
Bougherra        1
Chaouchi         0
                ..
Holden           0
Howard           0
Jozy Altidore    8
Onyewu           1
Torres           1
Name: shots, Length: 595, dtype: int64

In [24]:
df.shots + 5 #broadcasting

surname
Abdoun           11
Belhadj          11
Boudebouz        13
Bougherra        11
Chaouchi         10
                 ..
Holden           10
Howard           10
Jozy Altidore    18
Onyewu           11
Torres           11
Name: shots, Length: 595, dtype: int64

In [21]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      1       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [22]:
df.shots = df.shots + 5

In [23]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      6       6        0      0
Belhadj        Algeria    defender      270      6     146        8      0
Boudebouz      Algeria  midfielder       74      8      28        1      0
Bougherra      Algeria    defender      270      6      89       11      0
Chaouchi       Algeria  goalkeeper       90      5      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      5       2        0      0
Howard             USA  goalkeeper      390      5      81        0     14
Jozy Altidore      USA     forward      356     13      84        2      0
Onyewu             USA    defender      170      6      69        2      0
Torres             USA  midfielder       45      6      32        0      0

[595 rows x 7 columns]

In [25]:
five_players_df = df.sample(5)
five_players_df

                  team    position  minutes  shots  passes  tackles  saves
surname
Nunez         Honduras  midfielder      172      9      60        1      0
Cha Du-Ri  South Korea    defender      270      7     105        3      0
Sestak        Slovakia     forward      152      8      27        1      0
Terry          England    defender      360      7     223        3      0
Otamendi     Argentina    defender      250      5     141        6      0

In [26]:
c1 = five_players_df.shots
c1

surname
Nunez        9
Cha Du-Ri    7
Sestak       8
Terry        7
Otamendi     5
Name: shots, dtype: int64

In [28]:
five_players_df.tackles.sort_values()

surname
Nunez        1
Sestak       1
Cha Du-Ri    3
Terry        3
Otamendi     6
Name: tackles, dtype: int64

In [29]:
c2 = five_players_df.tackles.sort_values()
c2

surname
Nunez        1
Sestak       1
Cha Du-Ri    3
Terry        3
Otamendi     6
Name: tackles, dtype: int64

In [30]:
c1

surname
Nunez        9
Cha Du-Ri    7
Sestak       8
Terry        7
Otamendi     5
Name: shots, dtype: int64

In [31]:
c1+c2

surname
Cha Du-Ri    10
Nunez        10
Otamendi     11
Sestak        9
Terry        10
dtype: int64

In [32]:
c3 = c1.sample(3)
c3

surname
Nunez     9
Sestak    8
Terry     7
Name: shots, dtype: int64

In [33]:
c4 = c2.sample(3)
c4

surname
Otamendi     6
Nunez        1
Cha Du-Ri    3
Name: tackles, dtype: int64

In [34]:
c3+c4

surname
Cha Du-Ri     NaN
Nunez        10.0
Otamendi      NaN
Sestak        NaN
Terry         NaN
dtype: float64

In [37]:
c3.add(c4, fill_value=0)

surname
Cha Du-Ri     3.0
Nunez        10.0
Otamendi      6.0
Sestak        8.0
Terry         7.0
dtype: float64

In [38]:
c3

surname
Nunez     9
Sestak    8
Terry     7
Name: shots, dtype: int64

In [39]:
c4

surname
Otamendi     6
Nunez        1
Cha Du-Ri    3
Name: tackles, dtype: int64

# NaN

In [41]:
c5 = c3+c4
c5

surname
Cha Du-Ri     NaN
Nunez        10.0
Otamendi      NaN
Sestak        NaN
Terry         NaN
dtype: float64

In [42]:
c5.isna()

surname
Cha Du-Ri     True
Nunez        False
Otamendi      True
Sestak        True
Terry         True
dtype: bool

In [43]:
c5.isnull()

surname
Cha Du-Ri     True
Nunez        False
Otamendi      True
Sestak        True
Terry         True
dtype: bool

In [44]:
c5.loc[ c5.isna() ]

surname
Cha Du-Ri   NaN
Otamendi    NaN
Sestak      NaN
Terry       NaN
dtype: float64

In [47]:
~c5.isna()

surname
Cha Du-Ri    False
Nunez         True
Otamendi     False
Sestak       False
Terry        False
dtype: bool

In [49]:
c5.isna().sum()

4

In [52]:
c5.loc[ c5.isna() ].shape[0]

4

In [94]:
c5.fillna(0)

surname
Cha Du-Ri     0.0
Nunez        10.0
Otamendi      0.0
Sestak        0.0
Terry         0.0
dtype: float64

# Statistics

In [56]:
df = pd.read_csv('players.csv').loc[:, :'saves']

In [57]:
df

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
2,Boudebouz,Algeria,midfielder,74,3,28,1,0
3,Bougherra,Algeria,defender,270,1,89,11,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [58]:
df.shots.sum()

1371

In [59]:
df.sum()

surname     AbdounBelhadjBoudebouzBougherraChaouchiDjebbou...
team        AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
position    midfielderdefendermidfielderdefendergoalkeeper...
minutes                                                124274
shots                                                    1371
passes                                                  50290
tackles                                                  2494
saves                                                     397
dtype: object

In [60]:
df.sum(numeric_only=True)

minutes    124274
shots        1371
passes      50290
tackles      2494
saves         397
dtype: int64

In [61]:
df.sum(numeric_only=True, axis=1)

0       22
1      425
2      106
3      371
4      109
      ...
590      6
591    485
592    450
593    242
594     78
Length: 595, dtype: int64

In [62]:
df.mean(numeric_only=True)

minutes    208.863866
shots        2.304202
passes      84.521008
tackles      4.191597
saves        0.667227
dtype: float64

In [63]:
df.max()

surname     von Bergen
team           Uruguay
position    midfielder
minutes            570
shots               27
passes             563
tackles             34
saves               20
dtype: object

In [84]:
df.passes.rank()

0       37.5
1      492.0
2      142.0
3      377.5
4       89.0
       ...
590     12.5
591    358.0
592    367.0
593    317.0
594    160.0
Name: passes, Length: 595, dtype: float64

In [85]:
df.passes.max()

563

In [86]:
df.passes.idxmax()

536

In [87]:
df.iloc[536,:]

surname           Xavi
team             Spain
position    midfielder
minutes            515
shots                4
passes             563
tackles              6
saves                0
hours         8.583333
number             537
Name: 536, dtype: object

In [88]:
df.shots.idxmin()

0

In [91]:
df.loc[ : , 'minutes':] + 5

     minutes  shots  passes  tackles  saves      hours  number
0         21      5      11        5      5   5.266667       6
1        275      6     151       13      5   9.500000       7
2         79      8      33        6      5   6.233333       8
3        275      6      94       16      5   9.500000       9
4         95      5      22        5      7   6.500000      10
..       ...    ...     ...      ...    ...        ...     ...
590        9      5       7        5      5   5.066667     596
591      395      5      86        5     19  11.500000     597
592      361     13      89        7      5  10.933333     598
593      175      6      74        7      5   7.833333     599
594       50      6      37        5      5   5.750000     600

[595 rows x 7 columns]

# drop / insert col/row

In [64]:
df.iloc[:,:-1]

           surname     team    position  minutes  shots  passes  tackles
0           Abdoun  Algeria  midfielder       16      0       6        0
1          Belhadj  Algeria    defender      270      1     146        8
2        Boudebouz  Algeria  midfielder       74      3      28        1
3        Bougherra  Algeria    defender      270      1      89       11
4         Chaouchi  Algeria  goalkeeper       90      0      17        0
..             ...      ...         ...      ...    ...     ...      ...
590         Holden      USA  midfielder        4      0       2        0
591         Howard      USA  goalkeeper      390      0      81        0
592  Jozy Altidore      USA     forward      356      8      84        2
593         Onyewu      USA    defender      170      1      69        2
594         Torres      USA  midfielder       45      1      32        0

[595 rows x 7 columns]

In [66]:
df.drop('shots', axis=1)

           surname     team    position  minutes  passes  tackles  saves
0           Abdoun  Algeria  midfielder       16       6        0      0
1          Belhadj  Algeria    defender      270     146        8      0
2        Boudebouz  Algeria  midfielder       74      28        1      0
3        Bougherra  Algeria    defender      270      89       11      0
4         Chaouchi  Algeria  goalkeeper       90      17        0      2
..             ...      ...         ...      ...     ...      ...    ...
590         Holden      USA  midfielder        4       2        0      0
591         Howard      USA  goalkeeper      390      81        0     14
592  Jozy Altidore      USA     forward      356      84        2      0
593         Onyewu      USA    defender      170      69        2      0
594         Torres      USA  midfielder       45      32        0      0

[595 rows x 7 columns]

In [67]:
df.drop(['shots','saves'], axis=1)

           surname     team    position  minutes  passes  tackles
0           Abdoun  Algeria  midfielder       16       6        0
1          Belhadj  Algeria    defender      270     146        8
2        Boudebouz  Algeria  midfielder       74      28        1
3        Bougherra  Algeria    defender      270      89       11
4         Chaouchi  Algeria  goalkeeper       90      17        0
..             ...      ...         ...      ...     ...      ...
590         Holden      USA  midfielder        4       2        0
591         Howard      USA  goalkeeper      390      81        0
592  Jozy Altidore      USA     forward      356      84        2
593         Onyewu      USA    defender      170      69        2
594         Torres      USA  midfielder       45      32        0

[595 rows x 6 columns]

In [68]:
df.drop([2,3,5,7], axis=0)

,surname,team,position,minutes,shots,passes,tackles,saves
0,Abdoun,Algeria,midfielder,16,0,6,0,0
1,Belhadj,Algeria,defender,270,1,146,8,0
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2
6,Ghezzal,Algeria,forward,40,3,8,0,0
8,Halliche,Algeria,defender,270,2,94,4,0
...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0
591,Howard,USA,goalkeeper,390,0,81,0,14
592,Jozy Altidore,USA,forward,356,8,84,2,0
593,Onyewu,USA,defender,170,1,69,2,0
594,Torres,USA,midfielder,45,1,32,0,0

In [70]:
df.minutes / 60

0      0.266667
1      4.500000
2      1.233333
3      4.500000
4      1.500000
         ...
590    0.066667
591    6.500000
592    5.933333
593    2.833333
594    0.750000
Name: minutes, Length: 595, dtype: float64

In [71]:
df['hours'] = df.minutes / 60
df

,surname,team,position,minutes,shots,passes,tackles,saves,hours
0,Abdoun,Algeria,midfielder,16,0,6,0,0,0.266667
1,Belhadj,Algeria,defender,270,1,146,8,0,4.500000
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,1.233333
3,Bougherra,Algeria,defender,270,1,89,11,0,4.500000
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,1.500000
...,...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0,0.066667
591,Howard,USA,goalkeeper,390,0,81,0,14,6.500000
592,Jozy Altidore,USA,forward,356,8,84,2,0,5.933333
593,Onyewu,USA,defender,170,1,69,2,0,2.833333
594,Torres,USA,midfielder,45,1,32,0,0,0.750000

In [72]:
pd.Series( range(1, 596))

0        1
1        2
2        3
3        4
4        5
      ...
590    591
591    592
592    593
593    594
594    595
Length: 595, dtype: int64

In [73]:
df['number'] = pd.Series( range(1, 596))
df

,surname,team,position,minutes,shots,passes,tackles,saves,hours,number
0,Abdoun,Algeria,midfielder,16,0,6,0,0,0.266667,1
1,Belhadj,Algeria,defender,270,1,146,8,0,4.500000,2
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,1.233333,3
3,Bougherra,Algeria,defender,270,1,89,11,0,4.500000,4
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,1.500000,5
...,...,...,...,...,...,...,...,...,...,...
590,Holden,USA,midfielder,4,0,2,0,0,0.066667,591
591,Howard,USA,goalkeeper,390,0,81,0,14,6.500000,592
592,Jozy Altidore,USA,forward,356,8,84,2,0,5.933333,593
593,Onyewu,USA,defender,170,1,69,2,0,2.833333,594
594,Torres,USA,midfielder,45,1,32,0,0,0.750000,595

In [74]:
dic = {'surname':'Seth',
       'team':'Thailand',
       'position':'midfielder',
       'minutes':30}

In [76]:
new_row = pd.Series(dic)
new_row

surname           Seth
team          Thailand
position    midfielder
minutes             30
dtype: object

In [78]:
new_row.name = 595
new_row

surname           Seth
team          Thailand
position    midfielder
minutes             30
Name: 595, dtype: object

In [83]:
df.append(new_row)

C:\Users\User\AppData\Local\Temp\ipykernel_19332\3544121368.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(new_row)

,surname,team,position,minutes,shots,passes,tackles,saves,hours,number
0,Abdoun,Algeria,midfielder,16,0.0,6.0,0.0,0.0,0.266667,1.0
1,Belhadj,Algeria,defender,270,1.0,146.0,8.0,0.0,4.500000,2.0
2,Boudebouz,Algeria,midfielder,74,3.0,28.0,1.0,0.0,1.233333,3.0
3,Bougherra,Algeria,defender,270,1.0,89.0,11.0,0.0,4.500000,4.0
4,Chaouchi,Algeria,goalkeeper,90,0.0,17.0,0.0,2.0,1.500000,5.0
...,...,...,...,...,...,...,...,...,...,...
591,Howard,USA,goalkeeper,390,0.0,81.0,0.0,14.0,6.500000,592.0
592,Jozy Altidore,USA,forward,356,8.0,84.0,2.0,0.0,5.933333,593.0
593,Onyewu,USA,defender,170,1.0,69.0,2.0,0.0,2.833333,594.0
594,Torres,USA,midfielder,45,1.0,32.0,0.0,0.0,0.750000,595.0
595,Seth,Thailand,midfielder,30,NaN,NaN,NaN,NaN,NaN,NaN